@media only screen and (min-width: 979px) {
    .content-main{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $mainFont;

        .content-foto{
            position: relative;
            z-index: 0;

            img{
                box-sizing: border-box;
                width: 100vw;
                height: 92vh;
                background-repeat: no-repeat;
                padding: 0;
                margin: 0;
        }
    }
        .content-element{
            content: "";
            z-index: 1;
            position: absolute;

            .content-text{
                color: $navColorFonts;

                p{
                    font-size: 2em;
                    font-weight: 600;
                
                    &:last-of-type{
                        font-size: 4em;
                        padding: 1em 0;
                    }
                }

            }

            .content-buttons{
                .content-button{
                    letter-spacing: 0.25em;
                    color: $navColorFonts;
                    background: transparent;
                    padding: 1em 3em;
                    border: 0.2em solid $navColorFonts;
                    font-size: 1.3em;
                    font-weight: 700;
                    margin-left: 1em;

                    &:hover{
                        border: 0.2em solid $mainColor; 
                    }
                }
            }
        }
    }
}