@media only screen and (min-width: 979px) {
    .page-footer{
        background-color: $navColorBg;
        height: 8vh;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 3em;
        font-family: $mainFont;

        p{
            color: $navColorFonts;
            padding-bottom: 0.5em;
            text-align: center;
        }

        .icon-heart-empty{
            color: $mainColor;
            font-size: 1em;
        }
    }
}