.page-footer{
    background-color: $navColorBg;
    height: 12vh;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 3em;
    font-family: $mainFont;
        
        @include mobile{
            font-size: 1em;
        }

        p{
            color: $navColorFonts;
            padding-bottom: 0.5em;
            text-align: center;
        }

        .footer-link{
            color: $mainColor;
        }

        .icon-heart-empty,
        .icon-github-circled-alt2{
            color: $mainColor;
            font-size: 1em;
        }
}
