.page-header-mobile{
    background-color: $colorBg;
    height: 8vh;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: flex-end;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    color: $colorFonts;

        .icon-menu{
            font-size: 2em;
            top: 0;
            padding-right: 2em;
            padding-bottom: 3em;
        }
    
    .menu-mobile{
        background: $colorBg;
        opacity: 0.9;

        p{
        text-align: center;
        color: $colorFonts;
        padding-top: 2em;
        opacity: 1;
        font-weight: 800;

            a{
                font-size: 1em;
                font-weight: 800;

                &:hover{
                    color: $mainColor;
                }
            }
        }
    
    }

}


.page-header{
    background-color: $colorBg;
    color: $colorFonts;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $mainFont;
    position: sticky;

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
         

        .logo{
            text-align: center;
            padding-left: 2em;
            font-size: 2em;
            font-weight: 600;
            color: $mainColor;
        }

        .page-nav{
            height: 10%;

            .icon-menu{
                display: none;
            }

            .page-nav-list{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-self: center;
                list-style: none;
                justify-content: space-around;
            }

            li{
                display: flex;
                align-items: center;
                font-size: 1.2em;
                padding-right: 3.5em;
                font-weight: 600;

                &:hover{
                    font-weight: 600;
                    color: $mainColor;
                    
                }

                a:hover{
                    padding-right: 0em;
                    font-weight: 600;
                    color: $mainColor;
                }
            }
        }
    }
}
